/** {*/
/*     background: #000 !important;*/
/*     color: #0f0 !important;*/
/*     outline: solid #f00 1px !important;*/
/* }*/

* {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: auto;

}

#header {
    background-color: black;
    z-index: 100;
    width: 100%;
    overflow-x: hidden;
    position: fixed;
}

#header-img {
    height: 1.5em;
    padding: 0.8em;
}

#nav-bar {
    height: 100%;
    z-index: 100;


}

.nav-right {
    display: flex;
    align-content: flex-end;
    float: right;
}

#nav-list {
    display: flex;
    background-color: white;
    transform: skewX(-45deg);
    padding: 0;
    margin: 0;
}

.nav-obj {
    list-style-type: none;
    border-bottom: solid 1px black;
    float: right;
    padding: 0 1em;
}

.nav-obj:first-child {
    border-right: solid 2px black;
}

.nav-obj:hover {
    background-color: #c80202;
}

.nav-item {

    display: block;
    text-decoration: none;
    color: black;
    padding: 1em;
    transform: skewX(45deg);
}

.center {
    width: 50%;
    margin: 0 auto;
}

.center img {
    margin-top: 3em;
}

.border-retro {
    border: solid 3px white;
    border-radius: 10px;
    -webkit-box-shadow: inset 9px 4px 43px 15px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 9px 4px 43px 15px rgba(0, 0, 0, 1);
    box-shadow: inset 9px 4px 43px 15px rgba(0, 0, 0, 1);
    background-image: linear-gradient(to bottom, rgba(16, 2, 243, 0.5), rgba(16, 2, 243, 0), rgba(16, 2, 243, 0), rgba(16, 2, 243, 0.5));

}

#intro-description {
    margin: 0 10em;
}

.centralized, #introduction #intro-description p {
    text-align: center;
}

h2 {
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-size: 4em;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0em;
    padding: 0;
    border-bottom: white 1px solid;
    -webkit-box-shadow: inset 9px 4px 43px 15px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 9px 4px 43px 15px rgba(0, 0, 0, 1);
    box-shadow: inset 9px 4px 43px 15px rgba(0, 0, 0, 1);
}

#background-pic {

    /* Set rules to fill background */
    min-height: 100%;


    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    object-fit: cover;
}

.se-logo {
    float: left;
}


.container-fmt {
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(16, 2, 243, 0.5), rgba(16, 2, 243, 0));
    color: white;
    font-size: 1.5em;


}


#video {
    margin: 5% 0 5% 5%;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;

}

.img-container img {
    width: 30%;
    margin: 0.5em;

}

.content {
    padding: 1em;
}

.preorder-cnt {
    display: flex;
}

.side {
    width: 50%;
}

li {
    list-style-type: none;
}

.facts {
    font-size: 1.4em;
}

#releaseDate {
    font-size: 3em;
}

.facts li {
    padding: 0.5em;
}

.form {
    display: flex;
    width: 100%;
    background-color: black;

}

.form form {
    display: flex;
    align-items: baseline;
    padding: 0.5em 0.5em 0.5em 1em;
}

#email {
    border: none;
    border-bottom: 4px solid white;
    background: none;
    width: 600px;
    color: white;
    font-size: 1.5em;
    padding-left: 1em;
}

form label {
    padding-left: 2em;
}

#submit {
    width: 15em;
    height: 3em;
    margin-left: 1em;
}

@media screen and (max-device-width: 900px) {
    #header {
        overflow-x: auto;
    }

    #header-img {
        width: 10rem;
    }

    .nav-item {
        width: 3rem;
        padding: 0.4rem;
        font-size: 0.8em;

    }

    .FF7-logo {
        display: none;
    }

    #video {
        width: 100%;
        height: 19em;
        margin: 0;
    }

    #introduction #intro-description {
        margin: 0;
    }

    .img-container img {
        width: 100%;
        margin: 0.5em;
    }

    h2 {
        font-size: 2em;
    }

    .preorder-cnt {
        display: block;
    }

    .form {
        font-size: 1em;
    }

    #releaseDate {
        font-size: 1.4em;

    }

    #email {
        padding-left: 0;
    }

    form label {
        padding-left: 0;
    }

    .facts {
        font-size: 1em;
    }

    #email {

        width: 305px;
        color: white;
        font-size: 1em;
        padding-left: 0.5em;
    }

    .form form {
        display: flex;
        flex-flow: column;
        padding: 0.5em 0.5em 0.5em 1em;
        text-align: center;
    }

    #submit {
        margin-top: 1em;
        margin-left: 0;
        width: 99%;

    }

}

@media screen and (min-device-width: 1800px) {
    #video {
        margin-left: 11%;
    }

}

